ccxt==4.4.61
dash==2.18.2
dash_bootstrap_components==1.7.1
deap==1.4.2
matplotlib==3.10.1
numpy==2.2.3
optuna==4.2.1
pandas==2.2.3
plotly==6.0.0
psycopg2_binary==2.9.10
python-dotenv==1.0.1
python_json_logger==3.2.1
pytz==2024.1
PyYAML==6.0.2
PyYAML==6.0.2
scikit_learn==1.6.1
scipy==1.15.2
SQLAlchemy==2.0.38
ta_lib==0.6.3
websockets==14.2
